USE [master]
GO
/****** Object:  Database [DBFirst]    Script Date: 19/06/2017 9:52:45 AM ******/
CREATE DATABASE [DBFirst]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFirst', FILENAME = N'C:\Users\quang\DBFirst.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBFirst_log', FILENAME = N'C:\Users\quang\DBFirst_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFirst].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFirst]
GO
/****** Object:  Table [dbo].[RegisterSubjects]    Script Date: 19/06/2017 9:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterSubjects](
	[RegSubID] [int] IDENTITY(1,1) NOT NULL,
	[RegStudent_StudentID] [int] NULL,
	[RegSubject_SubjectID] [int] NULL,
 CONSTRAINT [PK_RegisterSubjects] PRIMARY KEY CLUSTERED 
(
	[RegSubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 19/06/2017 9:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NULL,
	[StudentAge] [int] NULL,
	[StudentGrade] [real] NULL,
	[StudentYearOfGraduation] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 19/06/2017 9:52:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](max) NULL,
	[SubjectNumOfStudent] [int] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[RegisterSubjects]  WITH CHECK ADD  CONSTRAINT [FK_RegisterSubjects_Students] FOREIGN KEY([RegStudent_StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[RegisterSubjects] CHECK CONSTRAINT [FK_RegisterSubjects_Students]
GO
ALTER TABLE [dbo].[RegisterSubjects]  WITH CHECK ADD  CONSTRAINT [FK_RegisterSubjects_Subjects] FOREIGN KEY([RegSubject_SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[RegisterSubjects] CHECK CONSTRAINT [FK_RegisterSubjects_Subjects]
GO
USE [master]
GO
